/* styles used by the list view component */

.l-list-item{
  background-color:lavender;
  border-radius: 4px;
  border: none;
  width: 100%;
  max-width: 100%;
}

.l-expand-offset{
  margin-right: -6px;
  margin-left: -5px; 
}

.l-value-width {
  width: 5rem;
  min-width: 5rem;
  text-align: right;
}